bot:
  token: null
  timeout: 15
behavior:
  slowmode:
    enabled: true
    delay: 120
  subscription_requirement:
    enabled: false
    channel_ids: null
database:
  backend: sqlite+aiosqlite
  name_or_path: //home/user/anonflow.db
  migrations:
    backend: sqlite
forwarding:
  moderation_chat_ids: null
  publication_channel_ids: null
  types:
    - text
    - photo
    - video
openai:
  api_key: null
  timeout: 60
  max_retries: 0
moderation:
  enabled: true
  model: gpt-5-mini
  types:
    - omni
    - gpt
logging:
  level: INFO
  fmt: '%(asctime)s.%(msecs)03d %(levelname)s [%(name)s] %(message)s'
  date_fmt: '%Y-%m-%d %H:%M:%S'
